* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #E5E5E5;
  color: #222;
}

@font-face {
  font-family: 'SF Pro Text Regular';
  font-style: normal;
  font-weight: 500;
  src: local('SF Pro Text Regular'), local('SF-Pro-Text-Regular'), url('../fonts/SF-Pro-Text-Regular.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'SF Pro Text Medium';
  font-style: normal;
  font-weight: 600;
  src: local('SF Pro Text Medium'), local('SF-Pro-Text-Medium'), url('../fonts/SF-Pro-Text-Medium.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'SF Pro Text Bold';
  font-style: normal;
  font-weight: 700;
  src: local('SF Pro Text Bold'), local('SF-Pro-Text-Bold'), url('../fonts/SF-Pro-Text-Bold.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
