.form-group .box-strength .invalid::before {
  background-color: #F79682;
}

.form-group .box-strength .valid::before {
  background-color: #1FE6A8;
}

.weak {
  background-color: #F79682 !important;
}
.medium {
  background-color: #F7BC1C !important;
}
.strong {
  background-color: #1FE6A8 !important;
}

.strong-password:focus {
  border: 1px solid #17D499 !important;
  outline: 2px solid #17D499;
}

.weak-input:focus {
  border: 1px solid #F79682 !important;
  outline: 2px solid #F79682;
}

.is-valid {
  border: 1px solid #17D499 !important;
  outline: 2px solid #17D499;
}

@keyframes anim {
  0%,
  100%,
  10%,
  90% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(1);
  }
}
.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .dot {
  animation: anim 1s infinite;
  background: #FFFFFF;
  height: 10px;
  width: 10px;
  float: left;
  margin-left: 5px;
  border-radius: 50%;
}
.loader .dot:nth-of-type(2) {
  animation-delay: 0.1s;
}
.loader .dot:nth-of-type(3) {
  animation-delay: 0.2s;
}
.loader .dot:first-child {
  margin-left: 0;
}